/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

:root {
  --font-color: #f7b28f;
  --name-font-color:  #c14b0f;
  --buttons-font-color: #ee641f;
  --font-color-dark: #aaa;
  --border-color: #222;
  --background-light: rgba(0,0,0,0.7);
  --background-dark: rgba(0, 0, 0, 0.9);
}

body {
  background-image: url(./images/back.jpeg);
  background-position: center top;
}

.f-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: var(--background-dark);
}

.banner {
  margin-top: 20px;
  font-size: 6rem;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  color: var(--name-font-color);
}

.nav-button {
  padding: 2rem;
  font-size: 2rem;
  background-color: transparent;
  color: var(--buttons-font-color);
  border: none;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 90px;
	grid-column-gap: 180px;
}

.main {
  background-color: var(--background-light);
  border: 1px solid var(--background-dark);
  width: auto;
  margin: 50px 50px;
  color: var(--font-color);
  font-size: 24px;
}

.main > div {
  margin: 50px;
  font-family: 'Kaushan Script', cursive;
}

.main > div > p {
  font-size: 38px;
  margin: 50px;
}

#tiki {
  width: 200px;
  height: 300px;
}

.item-name {
  font-size: 3rem;
}
.item-description {
  text-align: center;
  margin: 15px 0;
}

.item-cost {
  font-size: 2rem;
}
